<md-card flex>
    <img ng-src="{{image}}" class="md-card-image" alt="{{title}}">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{description}}
        </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="onSelect({id: index})">Select</md-button>
    </md-card-actions>
</md-card>